spring:
  application:
    name: Routine-Portal-Backend
  profiles:
    active: dev

  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
server:
  port: 20221
---
#Dev
spring:
  profiles: dev
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/StudentPortal?serverTimezone=UTC}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}


